html {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("res/aquab4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-color: #bfe1fc;
}

h3 {
	text-align: center;
	font-family: 'Limelight', cursive;
	color: #f3df13;
}

p, li {
	font-family: 'Rubik', sans-serif;
	list-style: none;
}

b {
	color: #f3df13;
}

#title {
	margin: 15px 0px 0px 40px;
}

#con {
	font-family: 'Limelight', cursive;
}

#profil {
	position: relative;
	margin-right: 25px;
	margin-top: -35px;
	float: right;
	z-index: 1;
	top: 50px;
	width: 100px;
	height: 100px;
	background-image: url("res/aqua.png");
}

#contact {
	background-color: #f3df13;
	-webkit-filter: opacity(.9);
	filter: opacity(.9);
	border-radius: 15px;
	z-index: -1;
	/*text-shadow:
    -1px -1px 0 #817676,
    1px -1px 0 #817676,
    -1px 1px 0 #817676,
    1px 1px 0 #817676;*/
    font-family: 'Limelight', cursive;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#pres {
	position: relative;
	top: 170px;
	text-align: center;
	color: white;
	background-color: #e1690a;
	-webkit-filter: opacity(.8);
	filter: opacity(.8);
	padding: 3px;
	border-radius: 15px;
	text-shadow:
    -1px -1px 0 #817676,
    1px -1px 0 #817676,
    -1px 1px 0 #817676,
    1px 1px 0 #817676;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#xp {
	position: relative;
	right: -450px;
	bottom: -280px;
	max-width: 400px;
	border-radius: 100%;
	padding: 20px;
	text-align: center;
	background-color: #5fb0b4;
	background-image: url("res/flaque.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px 300px;
	color: black;
    text-shadow:
    -1px -1px 0 #817676,
    1px -1px 0 #817676,
    -1px 1px 0 #817676,
    1px 1px 0 #817676;
    box-shadow: -7px 10px 5px rgba(0,0,0,0.5);
}

#formation {
	position: relative;
	bottom: -50px;
	left: -5px;
	max-width: 400px;
	border-radius: 100%;
	padding: 20px;
	text-align: center;
	background-color: #5fb0b4;
	background-image: url("res/flaque.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px 300px;
    color: black;
    text-shadow:
    -1px -1px 0 #817676,
    1px -1px 0 #817676,
    -1px 1px 0 #817676,
    1px 1px 0 #817676;
    box-shadow: 7px 10px 5px rgba(0,0,0,0.5);

}

#int {
	position: relative;
	bottom: -110px;
	max-width: 900px;
	padding: 20px;
	text-align: center;
	background-color: #418f39;
	border-radius: 15px;
	color: white;
    text-shadow:
    -1px -1px 0 #817676,
    1px -1px 0 #817676,
    -1px 1px 0 #817676,
    1px 1px 0 #817676;
    -webkit-filter: opacity(.9);
	filter: opacity(.9);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}